.bodycenter{
    width: 36%;
  margin: 0 auto;
  margin-top: 10vh;
}

.borderdiv{
    border: 1px solid green;
    padding: 40px;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 41px -11px rgba(166,91,18,0.75);
    min-width: 450px;
}
.totalbalanceflex{
    display: flex;
    justify-content: space-between;
}
.totalbalanceflex > h5{
margin-left: 10%;
}
.borderdiv > h1{
    color: green;
   margin-left: 10%;
}

.baconnected{
    float: right;
    display: flex;
    color: green;
}
.baconnected >span{
  margin-top: -5px;
  margin-left: 2px;
}
.p2pbutton{
    display: flex;
    margin-top: 80px;
    justify-content: space-evenly;
}
.p2pbuttons{
    border: 1px solid green;
    padding: 5px;
    display: flex;
    width: 23%;
    background-color: green;
    border-radius: 10px;
    text-align: center;
    
}
.p2pbuttons > h5{
    color: white;
    margin-left: 5px;
    font-size: 12px;
}